---
http_interactions:
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/PhysicalSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCICt7ocEh4eLpu4uU7VVMVtksJQgrCYOyiej/4vJUODR5AiEA19lMNkbtvuVZWl4F2u+pToz/0K4vab3Wmd6rUUo0z64="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBd6e5087796ba658e3c7cf56ebe622e9d
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.PhysicalSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
                  "ObjectType": "equipment.Chassis",
                  "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
                }
              ],
              "AssetTag": "",
              "AvailableMemory": 1024,
              "BiosPostComplete": false,
              "ChassisId": "1",
              "ClassId": "compute.PhysicalSummary",
              "ConnectionStatus": "",
              "CpuCapacity": 182.40001,
              "CreateTime": "2022-02-10T20:23:26.259Z",
              "DeviceMoId": "620574346f72612d33f2d664",
              "Dn": "/redfish/v1/Systems/FCH25057ANX",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FaultSummary": 0,
              "Firmware": "5.0(1b)",
              "HardwareUuid": "6D8F976C-A59D-4445-8426-91D6E3F3AE2C",
              "InventoryDeviceInfo": null,
              "Ipv4Address": "127.0.0.1",
              "KvmIpAddresses": [
                {
                  "Address": "100.66.11.153",
                  "Category": "Equipment",
                  "ClassId": "compute.IpAddress",
                  "DefaultGateway": "100.66.11.129",
                  "Dn": "",
                  "HttpPort": 80,
                  "HttpsPort": 443,
                  "KvmPort": 2068,
                  "KvmVlan": 0,
                  "Name": "Outband",
                  "ObjectType": "compute.IpAddress",
                  "Subnet": "255.255.255.192",
                  "Type": "MgmtInterface"
                }
              ],
              "ManagementMode": "Intersight",
              "MemorySpeed": "3200",
              "MgmtIpAddress": "100.66.11.153",
              "ModTime": "2022-04-25T11:50:58.331Z",
              "Model": "UCSX-210C-M6",
              "Moid": "6205743e6176752d366ee76e",
              "Name": "LAB02D02F01-1-1",
              "NumAdaptors": 1,
              "NumCpuCores": 76,
              "NumCpuCoresEnabled": 76,
              "NumCpus": 2,
              "NumEthHostInterfaces": 2,
              "NumFcHostInterfaces": 0,
              "NumThreads": 152,
              "ObjectType": "compute.PhysicalSummary",
              "OperPowerState": "off",
              "OperReason": [],
              "OperState": "",
              "Operability": "",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4",
                "620574346f72612d33f2d664"
              ],
              "Parent": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb786176752d35ab8b41",
                "ObjectType": "equipment.Chassis",
                "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
              },
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "Personality": "",
              "PlatformType": "IMCBlade",
              "Presence": "equipped",
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "620574346f72612d33f2d664",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/620574346f72612d33f2d664"
              },
              "Revision": "",
              "Rn": "",
              "ScaledMode": "",
              "Serial": "FCH25057ANX",
              "ServerId": 0,
              "ServiceProfile": "",
              "SharedScope": "",
              "SlotId": 1,
              "SourceObjectType": "compute.Blade",
              "Tags": [
                {
                  "Key": "Intersight.LicenseTier",
                  "Value": "Premier"
                }
              ],
              "TopologyScanStatus": "",
              "TotalMemory": 1048576,
              "TunneledKvm": true,
              "UserLabel": "",
              "Uuid": "00000003-0000-0001-0003-000000000003",
              "Vendor": "Cisco Systems Inc"
            },
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/search/SearchItems?$filter=(Lifecycle%20eq%20%27Decommissioned%27)%20and%20(IndexMotypes%20eq%20%20%27equipment.Identity%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQDzkK3vVdksaop22dVBu2+2nKtXQixxPXyyAtT8TdfF9AIgb+P6gOUwzIfgMkL8/bxN6z8ws6gGAQiWKT6lUC4lCeo="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB9b4921b64035e89322e113e169b3c799
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "search.SearchItem.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminAction": "None",
              "AdminActionState": "None",
              "Ancestors": [],
              "ChassisId": 1,
              "ClassId": "compute.BladeIdentity",
              "CreateTime": "2021-09-23T21:04:39.047Z",
              "CurrentChassisId": 1,
              "CurrentSlotId": 4,
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FirmwareSupportability": "Supported",
              "Identifier": 0,
              "LastDiscoveryTriggered": "Deep",
              "Lifecycle": "Decommissioned",
              "ModTime": "2022-04-25T16:55:19.686402176Z",
              "Model": "UCSX-210C-M6",
              "Moid": "614cebe76f62692d3083863f",
              "ObjectType": "compute.BladeIdentity",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4"
              ],
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PhysicalDeviceRegistration": null,
              "Presence": "Equipped",
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce29f6f72612d307f5ed4",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
              },
              "Serial": "FCH250671QU",
              "SharedScope": "",
              "SlotId": 4,
              "Tags": [],
              "Vendor": "Cisco Systems Inc"
            }
          ]
        }
  recorded_at: Tue, 26 Apr 2022 05:03:05 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/RackUnits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEYCIQCxWohw2GAi/jmdGsyqQmdARo0C4ISBTwZWqa2MCeZx7wIhALwtNanj6H2gETQZ4fUNWj54phSUoLKc4hrzqZW2d21F"
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB0b0822811d3e88a1ff0d310e16860645
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.RackUnit.List",
          "Results": []
        }
  recorded_at: Tue, 26 Apr 2022 05:03:06 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/firmware/FirmwareSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEYCIQDwBJRdgE5wysqBxbtX2LEY5kk1e5Wz4gh67yboveewhAIhALhLYGyXLe8cU7QpJpRXRi4XC9iIJrhP7lSds7xEJUNN"
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBc50e73f5e6f38c449ad1c7e89aa494c7
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "firmware.FirmwareSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Ancestors": [],
              "BundleVersion": "",
              "ClassId": "firmware.FirmwareSummary",
              "ComponentsFwInventory": [
                {
                  "Category": "BIOS",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "BIOS",
                  "Model": "BIOS",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/BIOS",
                  "Vendor": "BIOS",
                  "Version": "X210M6.5.0.1d.0.0816211754"
                },
                {
                  "Category": "CIMC",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "CIMC",
                  "Model": "CIMC",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/CIMC",
                  "Vendor": "CIMC",
                  "Version": "5.0(1b)"
                },
                {
         [...]
- request:
    method: get
    uri: https://intersight.com/api/v1/network/Elements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEQCIERGNVfJGfHf4XaFmEpnGzIjVbIaymAVaSps0K6gkNHpAiB37aRUIUgwJqNpzq8I8viB2W2xs7jbIymkO/kYwfWdNA=="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB83ae63c1b75583fb6f2561717f1edf55
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "network.Element.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminEvacState": "disabled",
              "AdminInbandInterfaceState": "disabled",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 1
              },
              "Ancestors": [],
              "AvailableMemory": "",
              "Cards": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25a4630312d42bf1d1a",
                  "ObjectType": "equipment.SwitchCard",
                  "link": "https://www.intersight.com/api/v1/equipment/SwitchCards/614ce25a4630312d42bf1d1a"
                }
              ],
              "Chassis": "",
              "ClassId": "network.Element",
              "ConfModTs": "",
              "ConfModTsBackup": "",
              "Console": [],
              "CreateTime": "2021-09-23T20:25:05.943Z",
              "DeviceMoId": "614ce29f6f72612d307f5ed4",
              "Dn": "switch-FDO244106VJ",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "EthernetMode": "",
              "EthernetSwitchingMode": "end-host",
              "Fanmodules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d94",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d94"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d95",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d95"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d96",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d96"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d97",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d97"
                }
              ],
              "FaultSummary": 0,
              "FcMode": "",
              "FcPortChannels": [],
              "FcSwitchingMode": "end-host",
              "FeatureControl": [],
              "InbandIpAddress": "0.0.0.0",
              "InbandIpGateway": "0.0.0.0",
              "InbandIpMask": "255.255.255.0",
              "InbandVlan": 0,
              "InterfaceList": [],
              "InventoryDeviceInfo": null,
              "LicenseFile": [],
              "ManagementController": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce2a36176752d35a7edc8",
                "ObjectType": "management.Controller",
                "link": "https://www.intersight.com/api/v1/management/Controllers/614ce2a36176752d35a7edc8"
              },
              "ManagementEntity": null,
              "ManagementMode": "Intersight",
              "ModTime": "2022-04-26T05:02:29.61Z",
              "Model": "UCS-FI-6454",
              "Moid": "614ce2a16176752d35a7ec96",
              "NetworkFcZoneInfo": null,
              "NetworkVlanPortInfo": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb956176752d35ab96a5",
                "ObjectType": "network.VlanPortInfo",
                "link": "https://www.intersight.com/api/v1/network/VlanPortInfos/614ceb956176752d35ab96a5"
              },
              "ObjectType": "network.Element",
              "OperEvacState": "disabled",
              "Operability": "online",
              "OutOfBandIpAddress": "100.66.11.142",
              "OutOfBandIpGateway": "100.66.11.129",
              "OutOfBandIpMask": "255.255.255.192",
              "OutOfBandIpv4Address": "",
              "OutOfBandIpv4Gateway": "",
              "OutOfBandIpv4Mask": "",
              "OutOfBandIpv6Address": "",
              "OutOfBandIpv6Gateway": "",
              "OutOfBandIpv6Prefix": "",
              "OutOfBandMac": "00:3A:9C:DA:78:C0",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4"
              ],
              "PartNumber": "",
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PortMacBindings": [],
              "Presence": "",
              "PreviousFru": null,
              "ProcessorUnit": [],
              "Psus": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1c",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1c"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1d",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1d"
                }
              ],
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce29f6f72612d307f5ed4",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
              },
              "Revision": "0",
              "Rn": "",
              "Serial": "FDO244106VJ",
              "SharedScope": "",
              "Status": "",
              "StorageItems": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1e",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/api/v1/storage/Items/614ce25b4630312d42bf1d1e"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1f",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/a[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/equipment/Chasses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIHfh7ekZXvdGXnxRgomBY/E83CVXXEUiEJKH+VqA5HqqAiEAyQMDkwTfMGgk58Xe4usu45AI/LBBw+Dicwlq4v/k72A="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB4b0cd8b1ae89152ec3bbe79d5e5d66bf
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "equipment.Chassis.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [],
              "Blades": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6205743e6176752d366ee76e",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/6205743e6176752d366ee76e"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "62558eb26176752d36f43a77",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/62558eb26176752d36f43a77"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6266ce226176752d36c8fe12",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/6266ce226176752d36c8fe12"
                }
              ],
              "ChassisId": 1,
              "ClassId": "equipment.Chassis",
              "ConnectionPath": "A,B",
              "ConnectionStatus": "A,B",
              "CreateTime": "2021-09-23T21:02:49.023Z",
              "Description": "Cisco Blade Server Chassis, 7U with Eight Vertical Blade Server Slots",
              "DeviceMoId": "614ce29f6f72612d307f5ed4",
              "Dn": "chassis-1",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "ExpanderModules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe46176752d35abb3da",
                  "ObjectType": "equipment.ExpanderModule",
                  "link": "https://www.intersight.com/api/v1/equipment/ExpanderModules/614cebe46176752d35abb3da"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe56176752d35abb3ff",
                  "ObjectType": "equipment.ExpanderModule",
                  "link": "https://www.intersight.com/api/v1/equipment/ExpanderModules/614cebe56176752d35abb3ff"
                }
              ],
              "FanControl": {
                "ClassId": "mo.MoRef",
                "Moid": "614cebe56176752d35abb3ed",
                "ObjectType": "equipment.FanControl",
                "link": "https://www.intersight.com/api/v1/equipment/FanControls/614cebe56176752d35abb3ed"
              },
              "Fanmodules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe56176752d35abb4a7",
                  "ObjectType": "equipment.FanModule",
                  "link": "htt[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/asset/DeviceRegistrations/620574346f72612d33f2d664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEYCIQCrhQszWxgbb6pWF1Ei0aGjlCvtZMjzcjwWUHVBowGlGAIhALgLrzTqcbv1AXqbXClQ63choc1/fKPKZxCKQEXCyAtZ"
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBb85718201ff700298e1fdfdbcd5aebd1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "Account": null,
          "AccountMoid": "5ed10e437564612d3352cc2d",
          "Ancestors": [],
          "ApiVersion": 11,
          "AppPartitionNumber": 74,
          "ClaimedByUser": {
            "ClassId": "mo.MoRef",
            "Moid": "5ed122a27564612d3001af6e",
            "ObjectType": "iam.User",
            "link": "https://www.intersight.com/api/v1/iam/Users/5ed122a27564612d3001af6e"
          },
          "ClaimedByUserName": "dave.quist@kyndryl.com",
          "ClaimedTime": "2022-02-10T20:23:16.397Z",
          "ClassId": "asset.DeviceRegistration",
          "ClusterMembers": [
            {
              "ClassId": "mo.MoRef",
              "Moid": "620574356f72612d30525b32",
              "ObjectType": "asset.ClusterMember",
              "link": "https://www.intersight.com/api/v1/asset/ClusterMembers/620574356f72612d30525b32"
            }
          ],
          "ConnectionId": "699a1e2a71b495bbfb59af98231641fa:e15e53c1-d765-49ec-87b2-8d9c4c1d0ab2",
          "ConnectionReason": "",
          "ConnectionStatus": "Connected",
          "ConnectionStatusLastChangeTime": "2022-04-21T02:34:04.159Z",
          "ConnectorVersion": "1.0.9-1979",
          "CreateTime": "2022-02-10T20:23:16.364Z",
          "DeviceClaim": null,
          "DeviceConfiguration": {
            "ClassId": "mo.MoRef",
            "Moid": "620574346f72612d33f2d66b",
            "ObjectType": "asset.DeviceConfiguration",
            "link": "https://www.intersight.com/api/v1/asset/DeviceConfigurations/620574346f72612d33f2d66b"
          },
          "DeviceExternalIpAddress": "129.41.86.5",
          "DeviceHostname": [
            "C1-B1-UCSX-210C-M6"
          ],
          "DeviceIpAddress": [
            "fe80::ecce:13ff:febf:b8c9",
            "fe80::ecce:13ff:febf:b8c8"
          ],
          "DisplayNames": {
            "hierarchical": [
              "[C1-B1-UCSX-210C-M6]"
            ],
            "short": [
              "[C1-B1-UCSX-210C-M6]"
            ]
          },
          "DomainGroup": {
            "ClassId": "mo.MoRef",
            "Moid": "5ed10e437564612d3352cc37",
            "ObjectType": "iam.DomainGroup",
            "link": "https://www.intersight.com/api/v1/iam/DomainGroups/5ed10e437564612d3352cc37"
          },
          "DomainGroupMoid": "5ed10e437564612d3352cc37",
          "ExecutionMode": "Normal",
          "ModTime": "2022-04-21T02:34:04.461Z",
          "Moid": "620574346f72612d33f2d664",
          "ObjectType": "asset.DeviceRegistration",
          "Owners": [
            "5ed10e437564612d3352cc2d",
            "614ce29f6f72612d307f5ed4",
            "620574346f72612d33f2d664"
          ],
          "ParentConnection": {
            "ClassId": "mo.MoRef",
            "Moid": "614ce29f6f72612d307f5ed4",
            "ObjectType": "asset.DeviceRegistration",
            "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
          },
          "ParentSignature": null,
          "PermissionResources": [
            {
              "ClassId": "mo.MoRef",
              "Moid": "5ed10e456972652d30b39b49",
              "ObjectType": "organization.Organization",
              "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
            },
            {
              "ClassId": "mo.MoRef",
              "Moid": "614caf8f6972652d30d65a53",
              "ObjectType": "organization.Organization",
              "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
            }
          ],
          "Pid": [
            "UCSX-210C-M6"
          ],
          "PlatformType": "IMCBlade",
          "ProxyApp": "astro",
          "PublicAccessKey": "-----BEGIN RSA PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwwabfQe0bYiZ0FnNbavr\nvSnaRH32HVJziPBb3cbHUwyOdI1JjUQCM2PLLrORWNB//8xkSjGkC8d6kNyIGn67\nJJsOcn7LLdmgyGAW5G6jwIgRZLUvTXDO+0TPJx/CGFqPAOl/mr8em53VOsk0JFsq\nHnZwo22tNq+IDOp1ZIoDcWQdMRp7JCUZ/X8Ju+3LD8TIYLW3TWmLKw+Cv6wDZfJ3\nRErdqbcUEfk0qBX8emAa3x6/IQUFxtaBAr2399J9JM/DaMEdPXrdUUkAnkMNFVdQ\nFHLnJlWIinIf4QAAnlGYXg1mOJuo86vCL49Nm14lhFNcuDKRxThRQ3RcCy8g72e9\n7wIDAQAB\n-----END RSA PUBLIC KEY-----\n",
          "ReadOnly": false,
          "SecurityToken": null,
          "Serial": [
            "FCH25057ANX"
          ],
          "SharedScope": "",
          "Tags": [
            {
              "Key": "cisco.meta.ManagementMode",
              "Value": "Intersight"
            }
          ],
          "Vendor": "Cisco Systems Inc"
        }
  recorded_at: Tue, 26 Apr 2022 05:03:08 GMT
- request:
    method: get
[...]
