---
http_interactions:
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/PhysicalSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEYCIQD1DxQTZa1N+bRoSRuBDc6Ek1b8i8aIjV9IxwL/qCVSHAIhAIM+ufPxkd7RJ9kXey/uUil1R+O7S5yAKbx82pOj4DkV"
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBa074818dd6935d7f32347fcd4c91af61
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.PhysicalSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
                  "ObjectType": "equipment.Chassis",
                  "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
                }
              ],
              "AssetTag": "",
              "AvailableMemory": 1024,
              "BiosPostComplete": false,
              "ChassisId": "1",
              "ClassId": "compute.PhysicalSummary",
              "ConnectionStatus": "",
              "CpuCapacity": 182.40001,
              "CreateTime": "2022-04-27T17:42:48.963Z",
              "DeviceMoId": "626980906f72612d33371034",
              "Dn": "/redfish/v1/Systems/FCH25057ANX",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FaultSummary": 0,
              "Firmware": "5.0(1b)",
              "HardwareUuid": "6D8F976C-A59D-4445-8426-91D6E3F3AE2C",
              "InventoryDeviceInfo": null,
              "Ipv4Address": "127.0.0.1",
              "KvmIpAddresses": [],
              "ManagementMode": "Intersight",
              "MemorySpeed": "3200",
              "MgmtIpAddress": "",
              "ModTime": "2022-05-04T19:14:02.494Z",
              "Model": "UCSX-210C-M6",
              "Moid": "626980986176752d368dabb9",
              "Name": "LAB02D02F01-1-1",
              "NumAdaptors": 1,
              "NumCpuCores": 76,
              "NumCpuCoresEnabled": 76,
              "NumCpus": 2,
              "NumEthHostInterfaces": 0,
              "NumFcHostInterfaces": 0,
              "NumThreads": 152,
              "ObjectType": "compute.PhysicalSummary",
              "OperPowerState": "off",
              "OperReason": [],
              "OperState": "",
              "Operability": "",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4",
                "626980906f72612d33371034"
              ],
              "Parent": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb786176752d35ab8b41",
                "ObjectType": "equipment.Chassis",
                "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
              },
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "Personality": "",
              "PlatformType": "IMCBlade",
              "Presence": "equipped",
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "626980906f72612d33371034",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/626980906f72612d33371034"
              },
              "Revision": "",
              "Rn": "",
              "ScaledMode": "",
              "Serial": "FCH25057ANX",
              "ServerId": 0,
              "ServiceProfile": "",
              "SharedScope": "",
              "SlotId": 1,
              "SourceObjectType": "compute.Blade",
              "Tags": [
                {
                  "Key": "Intersight.LicenseTier",
                  "Value": "Essential"
                }
              ],
              "TopologyScanStatus": "",
              "TotalMemory": 1048576,
              "TunneledKvm": true,
              "UserLabel": "",
              "Uuid": "6D8F976C-A59D-4445-8426-91D6E3F3AE2C",
              "Vendor": "Cisco Systems Inc"
            },
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
                  "ObjectType": "equipment.Chassis",
                  "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
                }
              ],
              "AssetTag": "",
              "AvailableMemory": 512,
              "BiosPostComplete": true,
              "ChassisId": "1",
              "ClassId": "compute.PhysicalSummary",
              "ConnectionStatus": "",
              "CpuCapacity": 145.59999,
              "CreateTime": "2022-05-03T17:19:01.765Z",
              "DeviceMoId": "627163fc6f72612d338c99ae",
              "Dn": "/redfish/v1/Systems/FCH250671KU",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FaultSummary": 0,
              "Firmware": "5.0(1b)",
              "HardwareUuid": "D0D77522-FA5B-4B24-A183-66BF636342FE",
              "InventoryDeviceInfo": null,
              "Ipv4Address": "127.0.0.1",
              "KvmIpAddresses": [
                {
                  "Address": "100.66.11.151",
                  "Category": "Equipment",
                  "ClassId": "compute.IpAddress",
                  "DefaultGateway": "100.66.11.129",
                  "Dn": "",
                  "HttpPort": 80,
                  "HttpsPort": 443,
                  "KvmPort": 2068,
                  "KvmVlan": 0,
                  "Name": "Outband",
                  "ObjectType": "compute.IpAddress",
                  "Subnet": "255.255.255.192",
                  "Type": "MgmtInterface"
                }
              ],
              "ManagementMode": "Intersight",
              "MemorySpeed": "3200",
              "MgmtIpAddress": "100.66.11.151",
              "ModTime": "2022-05-06T05:42:13.931Z",
              "Model": "UCSX-210C-M6",
              "Moid": "627164056176752d364e393e",
              "Name": "LAB02D02F01-1-3",
              "NumAdaptors": 1,
              "NumCpuCores": 56,
              "NumCpuCoresEnabled": 56,
              "NumCpus": 2,
 [...]
- request:
    method: get
    uri: https://intersight.com/api/v1/search/SearchItems?$filter=(Lifecycle%20eq%20%27Decommissioned%27)%20and%20(IndexMotypes%20eq%20%20%27equipment.Identity%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQCR1yc56kHFIIB8sAYDfOZD4tHXy38yBVR90uKS46/m9gIgXMr30r3aUryC77hD+jTL0CiXP3zBpIW1HPzHQeXFW0k="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB863129936a3b5bef34d438c1b3515f62
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "search.SearchItem.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminAction": "None",
              "AdminActionState": "None",
              "Ancestors": [],
              "ChassisId": 1,
              "ClassId": "compute.BladeIdentity",
              "CreateTime": "2021-09-23T21:04:39.047Z",
              "CurrentChassisId": 1,
              "CurrentSlotId": 4,
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FirmwareSupportability": "Supported",
              "Identifier": 0,
              "LastDiscoveryTriggered": "Deep",
              "Lifecycle": "Decommissioned",
              "ModTime": "2022-05-06T05:30:29.838559148Z",
              "Model": "UCSX-210C-M6",
              "Moid": "614cebe76f62692d3083863f",
              "ObjectType": "compute.BladeIdentity",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4"
              ],
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PhysicalDeviceRegistration": null,
              "Presence": "Equipped",
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce29f6f72612d307f5ed4",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
              },
              "Serial": "FCH250671QU",
              "SharedScope": "",
              "SlotId": 4,
              "Tags": [],
              "Vendor": "Cisco Systems Inc"
            }
          ]
        }
  recorded_at: Fri, 06 May 2022 05:42:38 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/RackUnits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEYCIQCZM+QkK+GIySLdP1AXEmpYqNlZerTKeLWmHDH4RGZ9jgIhAOtxiY22zW3wuWI3V+YZzKsFClyLj+3JEOBr5vDrXM83"
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB4b8ce8c8e8b92ff9c7cf822da6deb5c6
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.RackUnit.List",
          "Results": []
        }
  recorded_at: Fri, 06 May 2022 05:42:38 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/server/Profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQCl1ydGzeHlYqfWPc3I/UdhABtnm+89U0MTOK5LNahuAwIgLBlcrFRuOSh7i2aw2duIrqP+78GA9ZezJm8IEzow8x8="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB08bfa6660702b18effed9364bf97e9b4
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "server.Profile.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Action": "No-op",
              "ActionParams": [],
              "Ancestors": [],
              "AssignedServer": null,
              "AssociatedServer": null,
              "ClassId": "server.Profile",
              "ConfigChangeContext": {
                "ClassId": "policy.ConfigChangeContext",
                "ConfigChangeError": "",
                "ConfigChangeState": "Ok",
                "InitialConfigContext": {
                  "ClassId": "policy.ConfigContext",
                  "ConfigState": "",
                  "ConfigType": "",
                  "ControlAction": "",
                  "ErrorState": "",
                  "ObjectType": "policy.ConfigContext",
                  "OperState": ""
                },
                "ObjectType": "policy.ConfigChangeContext"
              },
              "ConfigChangeDetails": [],
              "ConfigChanges": {
                "Changes": [],
                "ClassId": "policy.ConfigChange",
                "Disruptions": [],
                "ObjectType": "policy.ConfigChange"
              },
              "ConfigContext": {
                "ClassId": "policy.ConfigContext",
                "ConfigState": "Not-assigned",
                "ConfigType": "",
                "ControlAction": "No-op",
                "ErrorState": "",
                "ObjectType": "policy.ConfigContext",
                "OperState": ""
              },
              "ConfigResult": {
                "ClassId": "mo.MoRef",
                "Moid": "6230cd1077696e2d3082bd62",
                "ObjectType": "server.ConfigResult",
                "link": "https://www.intersight.com/api/v1/server/ConfigResults/6230cd1077696e2d3082bd62"
              },
              "CreateTime": "2022-03-15T17:29:52.461Z",
              "Description": "",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "IsPmcDeployedSecurePassphraseSet": false,
              "ModTime": "2022-05-04T19:32:24.308Z",
              "Moid": "6230cd0f77696e2d3082bd49",
              "Name": "xLabs_SPT_DERIVED-1",
              "ObjectType": "server.Profile",
              "Organization": {
                "ClassId": "mo.MoRef",
                "Moid": "614caf8f6972652d30d65a53",
                "ObjectType": "organization.Organization",
                "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
              },
              "Owners": [
                "5ed10e437564612d3352cc2d"
              ],
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PolicyBucket": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6230c1241c96db284382004b",
                  "ObjectType": "vnic.LanConnectivityPolicy",
                  "link": "https://www.intersight.com/api/v1/vnic/LanConnectivityPolicies/6230c1241c96db284382004b"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "623b4feb6275722d30bc08d1",
                  "ObjectType": "kvm.Policy",
                  "link": "https://www.intersight.com/api/v1/kvm/Policies/623b4feb6275722d30bc08d1"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "623b79e76275722d30c06027",
                  "ObjectType": "access.Policy",
                  "link": "https://www.intersight.com/api/v1/access/Policies/623b79e76275722d30c06027"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "624365136275722d305e5c13",
                  "ObjectType": "vmedia.Policy",
                  "link": "https://www.intersight.com/api/v1/vmedia/Policies/624365136275722d305e5c13"
                }
              ],
              "ResourceLease": null,
              "RunningWorkflows": [],
              "ServerAssignmentMode": "None",
              "ServerPool": null,
              "SharedScope": "",
              "SrcTemplate": {
                "ClassId": "mo.MoRef",
                "Moid": "6230bf0a77696e2d3081cc8e",
                "ObjectType": "server.ProfileTemplate",
                "link": "https://www.intersight.com/api/v1/server/ProfileTemplates/6230bf0a77696e2d3081cc8e"
              },
              "StaticUuidAddress": "",
              "Tags": [],
              "TargetPlatform": "FIAttached",
              "Type": "instance",
              "Uuid": "00000003-0000-0001-0003-000000000003",
              "UuidAddressType": "POOL",
              "UuidLease": {
                "ClassId": "mo.MoRef",
                "Moid": "6230cd106962752d3066d593",
                "ObjectType": "uuidpool.UuidLease",
                "link": "https://www.intersight.com/api/v1/uuidpool/UuidLeases/6230cd106962752d3066d593"
              },
              "UuidPool": {
                "ClassId": "mo.MoRef",
                "Moid": "6230bf426962752d3065ae08",
                "ObjectType": "uuidpool.Pool",
                "link": "https://www.intersight.com/api/v1/uuidpool/Pools/6230bf426962752d3065ae08"
              }
            },
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Action": "No-op",
              "ActionParams": [],
              "Ancestors": [],
              "AssignedServer": {
                "ClassId"[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/firmware/FirmwareSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEQCID18RYDPqFQTeSvtS7ppSLrgi/tU/Xl7xbVAbdTA6CZwAiBVKvb1hm8WMObqIJEBLkNt5+OddcDyJz4s/BdXkWtTmg=="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBd8e0148a48c1ae6a457518641ceab9a5
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "firmware.FirmwareSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Ancestors": [],
              "BundleVersion": "",
              "ClassId": "firmware.FirmwareSummary",
              "ComponentsFwInventory": [
                {
                  "Category": "BIOS",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "BIOS",
                  "Model": "BIOS",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/BIOS",
                  "Vendor": "BIOS",
                  "Version": "X210M6.5.0.1d.0.0816211754"
                },
                {
                  "Category": "CIMC",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "CIMC",
                  "Model": "CIMC",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/CIMC",
                  "Vendor": "CIMC",
                  "Version": "5.0(1b)"
                },
                {
         [...]
- request:
    method: get
    uri: https://intersight.com/api/v1/network/Elements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQDcA84edrnBgkZOgWVFAvDxGMAj4p1jn2/WR+V8G2MhPAIgHK5Pmu91GtxAQEBjZPVFcYLnslpSO7EoSLuzmQDAwx8="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBcbdf8d47fe2d93e177462b670c69bc68
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "network.Element.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminEvacState": "disabled",
              "AdminInbandInterfaceState": "disabled",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 1
              },
              "Ancestors": [],
              "AvailableMemory": "",
              "Cards": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25a4630312d42bf1d1a",
                  "ObjectType": "equipment.SwitchCard",
                  "link": "https://www.intersight.com/api/v1/equipment/SwitchCards/614ce25a4630312d42bf1d1a"
                }
              ],
              "Chassis": "",
              "ClassId": "network.Element",
              "ConfModTs": "",
              "ConfModTsBackup": "",
              "Console": [],
              "CreateTime": "2021-09-23T20:25:05.943Z",
              "DeviceMoId": "614ce29f6f72612d307f5ed4",
              "Dn": "switch-FDO244106VJ",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "EthernetMode": "",
              "EthernetSwitchingMode": "end-host",
              "Fanmodules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d94",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d94"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d95",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d95"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d96",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d96"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d97",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d97"
                }
              ],
              "FaultSummary": 0,
              "FcMode": "",
              "FcPortChannels": [],
              "FcSwitchingMode": "end-host",
              "FeatureControl": [],
              "InbandIpAddress": "0.0.0.0",
              "InbandIpGateway": "0.0.0.0",
              "InbandIpMask": "255.255.255.0",
              "InbandVlan": 0,
              "InterfaceList": [],
              "InventoryDeviceInfo": null,
              "LicenseFile": [],
              "ManagementController": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce2a36176752d35a7edc8",
                "ObjectType": "management.Controller",
                "link": "https://www.intersight.com/api/v1/management/Controllers/614ce2a36176752d35a7edc8"
              },
              "ManagementEntity": null,
              "ManagementMode": "Intersight",
              "ModTime": "2022-05-06T05:41:02.44Z",
              "Model": "UCS-FI-6454",
              "Moid": "614ce2a16176752d35a7ec96",
              "NetworkFcZoneInfo": null,
              "NetworkVlanPortInfo": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb956176752d35ab96a5",
                "ObjectType": "network.VlanPortInfo",
                "link": "https://www.intersight.com/api/v1/network/VlanPortInfos/614ceb956176752d35ab96a5"
              },
              "ObjectType": "network.Element",
              "OperEvacState": "disabled",
              "Operability": "online",
              "OutOfBandIpAddress": "100.66.11.142",
              "OutOfBandIpGateway": "100.66.11.129",
              "OutOfBandIpMask": "255.255.255.192",
              "OutOfBandIpv4Address": "",
              "OutOfBandIpv4Gateway": "",
              "OutOfBandIpv4Mask": "",
              "OutOfBandIpv6Address": "",
              "OutOfBandIpv6Gateway": "",
              "OutOfBandIpv6Prefix": "",
              "OutOfBandMac": "00:3A:9C:DA:78:C0",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4"
              ],
              "PartNumber": "",
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PortMacBindings": [],
              "Presence": "",
              "PreviousFru": null,
              "ProcessorUnit": [],
              "Psus": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1c",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1c"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1d",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1d"
                }
              ],
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce29f6f72612d307f5ed4",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
              },
              "Revision": "0",
              "Rn": "",
              "Serial": "FDO244106VJ",
              "SharedScope": "",
              "Status": "",
              "StorageItems": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1e",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/api/v1/storage/Items/614ce25b4630312d42bf1d1e"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1f",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/a[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/equipment/Chasses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIGTSBZ3kb6R93G4KnVGj8Ugmw6fI4m5eT+7QKlS2QSnJAiEA8eTyfNv0ueoHt53PQveOZH8avID8rTpvfAoLEwXyJd4="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB05947f07338df3b2cfe5ac6226a28695
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "equipment.Chassis.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [],
              "Blades": [
                {
                  "ClassId": "mo.MoRef",
[...]
