---
http_interactions:
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/PhysicalSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIGr1GwNP4icwcAltA+jP28sOEryy3Q4qz6aZIRlDoqttAiEAtfwUCUUEvasSWJsFF+CMMUyYKz0kuMaOgVF2SVi0lH4="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB6a3dff9e2326ededecb5b76fc8deace1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.PhysicalSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
                  "ObjectType": "equipment.Chassis",
                  "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
                }
              ],
              "AssetTag": "",
              "AvailableMemory": 1024,
              "BiosPostComplete": true,
              "ChassisId": "1",
              "ClassId": "compute.PhysicalSummary",
              "ConnectionStatus": "",
              "CpuCapacity": 182.40001,
              "CreateTime": "2022-04-27T17:42:48.963Z",
              "DeviceMoId": "626980906f72612d33371034",
              "Dn": "/redfish/v1/Systems/FCH25057ANX",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "FaultSummary": 0,
              "Firmware": "5.0(1b)",
              "HardwareUuid": "6D8F976C-A59D-4445-8426-91D6E3F3AE2C",
              "InventoryDeviceInfo": null,
              "Ipv4Address": "127.0.0.1",
              "KvmIpAddresses": [
                {
                  "Address": "100.66.11.153",
                  "Category": "Equipment",
                  "ClassId": "compute.IpAddress",
                  "DefaultGateway": "100.66.11.129",
                  "Dn": "",
                  "HttpPort": 80,
                  "HttpsPort": 443,
                  "KvmPort": 2068,
                  "KvmVlan": 0,
                  "Name": "Outband",
                  "ObjectType": "compute.IpAddress",
                  "Subnet": "255.255.255.192",
                  "Type": "MgmtInterface"
                }
              ],
              "ManagementMode": "Intersight",
              "MemorySpeed": "3200",
              "MgmtIpAddress": "100.66.11.153",
              "ModTime": "2022-05-12T13:33:10.111Z",
              "Model": "UCSX-210C-M6",
              "Moid": "626980986176752d368dabb9",
              "Name": "LAB02D02F01-1-1",
              "NumAdaptors": 1,
              "NumCpuCores": 76,
              "NumCpuCoresEnabled": 76,
              "NumCpus": 2,
              "NumEthHostInterfaces": 2,
              "NumFcHostInterfaces": 0,
              "NumThreads": 152,
              "ObjectType": "compute.PhysicalSummary",
              "OperPowerState": "on",
              "OperReason": [],
              "OperState": "",
              "Operability": "",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4",
                "626980906f72612d33371034"
              ],
              "Parent": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb786176752d35ab8b41",
                "ObjectType": "equipment.Chassis",
                "link": "https://www.intersight.com/api/v1/equipment/Chasses/614ceb786176752d35ab8b41"
              },
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "Personality": "",
              "PlatformType": "IMCBlade",
              "Presence": "equipped",
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "626980906f72612d33371034",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/626980906f72612d33371034"
              },
              "Revision": "",
              "Rn": "",
              "ScaledMode": "",
              "Serial": "FCH25057ANX",
              "ServerId": 0,
              "ServiceProfile": "",
              "SharedScope": "",
              "SlotId": 1,
              "SourceObjectType": "compute.Blade",
              "Tags": [
                {
                  "Key": "Intersight.LicenseTier",
                  "Value": "Essential"
                }
              ],
              "TopologyScanStatus": "",
              "TotalMemory": 1048576,
              "TunneledKvm": true,
              "UserLabel": "",
              "Uuid": "6D8F976C-A59D-4445-8426-91D6E3F3AE2C",
              "Vendor": "Cisco Systems Inc"
            },
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminPowerState": "",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ceb786176752d35ab8b41",
[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/search/SearchItems?$filter=(Lifecycle%20eq%20%27Decommissioned%27)%20and%20(IndexMotypes%20eq%20%20%27equipment.Identity%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIF0TmFSDxE73J+Kj6RX9tVtgqx5aU2F734OBcKMTsc8fAiEAmdX9yZhkJajrA8ZuX2K0SUbzYLx3TxuaT2fypVvMFmA="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBcd8932d002788c51b65495a247ac2a75
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "search.SearchItem.List",
          "Results": []
        }
  recorded_at: Thu, 12 May 2022 13:46:13 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/compute/RackUnits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQDDmRFj1t/fJ5UC2tlkurbry2j2NB9H9bI2aSr2eLBdHgIgM6r2Siltx7TtGfBMFTaUb3ox/gUx8WMLQJu5boz5XpU="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBe98b3c40e5fffb1e40ea2b31c8c6bc38
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "compute.RackUnit.List",
          "Results": []
        }
  recorded_at: Thu, 12 May 2022 13:46:13 GMT
- request:
    method: get
    uri: https://intersight.com/api/v1/server/Profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEQCICO/rNaAUfNsRrHLQiwRONdSdsqjxhneYruWWwzQFaHYAiBMs5fxoKxpitzUR6lCfnG6VCjwk2E99DVYDw42kUiwZA=="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB2f89d1c4a85cd0f876b1ae16b96a124b
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "server.Profile.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Action": "No-op",
              "ActionParams": [],
              "Ancestors": [],
              "AssignedServer": {
                "ClassId": "mo.MoRef",
                "Moid": "626980986176752d368dabb9",
                "ObjectType": "compute.Blade",
                "link": "https://www.intersight.com/api/v1/compute/Blades/626980986176752d368dabb9"
              },
              "AssociatedServer": {
                "ClassId": "mo.MoRef",
                "Moid": "626980986176752d368dabb9",
                "ObjectType": "compute.Blade",
                "link": "https://www.intersight.com/api/v1/compute/Blades/626980986176752d368dabb9"
              },
              "ClassId": "server.Profile",
              "ConfigChangeContext": {
                "ClassId": "policy.ConfigChangeContext",
                "ConfigChangeError": "",
                "ConfigChangeState": "Ok",
                "InitialConfigContext": {
                  "ClassId": "policy.ConfigContext",
                  "ConfigState": "Associated",
                  "ConfigType": "",
                  "ControlAction": "No-op",
                  "ErrorState": "",
                  "ObjectType": "policy.ConfigContext",
                  "OperState": "Ok"
                },
                "ObjectType": "policy.ConfigChangeContext"
              },
              "ConfigChangeDetails": [],
              "ConfigChanges": {
                "Changes": [],
                "ClassId": "policy.ConfigChange",
                "Disruptions": [],
                "ObjectType": "policy.ConfigChange"
              },
              "ConfigContext": {
                "ClassId": "policy.ConfigContext",
                "ConfigState": "Associated",
                "ConfigType": "",
                "ControlAction": "No-op",
                "ErrorState": "",
                "ObjectType": "policy.ConfigContext",
                "OperState": "Ok"
              },
              "ConfigResult": {
                "ClassId": "mo.MoRef",
                "Moid": "6230cd1077696e2d3082bd62",
                "ObjectType": "server.ConfigResult",
                "link": "https://www.intersight.com/api/v1/server/ConfigResults/6230cd1077696e2d3082bd62"
              },
              "CreateTime": "2022-03-15T17:29:52.461Z",
              "Description": "",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "IsPmcDeployedSecurePassphraseSet": false,
              "ModTime": "2022-05-10T11:23:03.524Z",
              "Moid": "6230cd0f77696e2d3082bd49",
              "Name": "xLabs_SPT_DERIVED-1",
              "ObjectType": "server.Profile",
              "Organization": {
                "ClassId": "mo.MoRef",
                "Moid": "614caf8f6972652d30d65a53",
                "ObjectType": "organization.Organization",
                "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
              },
              "Owners": [
                "5ed10e437564612d3352cc2d"
              ],
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PolicyBucket": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6230c1241c96db284382004b",
                  "ObjectType": "vnic.LanConnectivityPolicy",
                  "link": "https://www.intersight.com/api/v1/vnic/LanConnectivityPolicies/6230c1241c96db284382004b"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "623b4feb6275722d30bc08d1",
                  "ObjectType": "kvm.Policy",
                  "link": "https://www.intersight.com/api/v1/kvm/Policies/623b4feb6275722d30bc08d1"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "623b79e76275722d30c06027",
                  "ObjectType": "access.Policy",
                  "link": "https://www.intersight.com/api/v1/access/Policies/623b79e76275722d30c06027"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "624365136275722d305e5c13",
                  "ObjectType": "vmedia.Policy",
                  "link": "https://www.intersight.com/api/v1/vmedia/Policies/624365136275722d305e5c13"
                }
              ],
              "ResourceLease": {
                "ClassId": "mo.MoRef",
                "Moid": "627a42ba6962752d30071461",
                "ObjectType": "resourcepool.Lease",
                "link": "https://www.intersight.com/api/v1/resourcepool/Leases/627a42ba6962752d30071461"
              },
              "RunningWorkflows": [],
              "ServerAssignmentMode": "Static",
              "ServerPool": null,
              "SharedScope": "",
              "SrcTemplate": {
                "ClassId": "mo.MoRef",
                "Moid": "6230bf0a77696e2d3081cc8e",
                "ObjectType": "server.ProfileTemplate",
                "link": "https://www.intersight.com/api/v1/server/ProfileTemplates/6230bf0a77696e2d3081cc8e"
              },
              "StaticUuidAddress": "",
              "Tags": [],
              "TargetPlatform": "FIAttached",
              "Type": "instance",
              "Uuid": "00000003-0000-0001-0003-000000000003",
              "UuidAddressType": "POOL",
              "UuidLease": {
                "ClassId": "mo.MoRef",
                "Moid": "6230cd106962752d3066d593",
                "ObjectType": "uuidpool.UuidLease",
                "link": "https://www.intersight.com/api/v1/uuidpool/UuidLeases/6230cd106962752d3066d593"
              },
              "UuidPool": {
                "ClassId": "mo.MoRef",
                "Moid": "6230bf426962752d3065ae08",
                "ObjectType": "uuidpool.Pool",
                "link": "https://www.intersight.com/api/v1/uuidpool/Pools/6230bf426962752d3065ae08"
              }
            },
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Action": "No-op",
              "ActionParams": [],
              "Ancestors": [],
              "AssignedServer": null,
              "Associ[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/firmware/FirmwareSummaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEQCICOA1zyRafllmiJS9HvGhTzzMA83Qgp7PqqNdq0AI0QIAiBNLyuMT3GnQQj+HfZl+Mwz/HrLr+d7C5cMadYDcouwlw=="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB153c85e237f52cac840b7ba1ef696992
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "firmware.FirmwareSummary.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "Ancestors": [],
              "BundleVersion": "",
              "ClassId": "firmware.FirmwareSummary",
              "ComponentsFwInventory": [
                {
                  "Category": "BIOS",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "BIOS",
                  "Model": "BIOS",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/BIOS",
                  "Vendor": "BIOS",
                  "Version": "X210M6.5.0.1d.0.0816211754"
                },
                {
                  "Category": "CIMC",
                  "ClassId": "firmware.FirmwareInventory",
                  "Label": "CIMC",
                  "Model": "CIMC",
                  "ObjectType": "firmware.FirmwareInventory",
                  "UpdateUri": "/redfish/v1/UpdateService/FirmwareInventory/CIMC",
                  "Vendor": "CIMC",
                  "Version": "5.0(1b)"
                },
                {
         [...]
- request:
    method: get
    uri: https://intersight.com/api/v1/network/Elements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIQDI8xZvnqpc78aaSAp9aHw2GqPVLdHQNzWVceYfnpZJpQIgZRR88XD3z76NxvEcv1Tqk5DxfrnIePqRwMfPWyWK5F0="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NBf43c63977ac5ee6568a7e87febbfe1b4
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "network.Element.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AdminEvacState": "disabled",
              "AdminInbandInterfaceState": "disabled",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 1
              },
              "Ancestors": [],
              "AvailableMemory": "",
              "Cards": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25a4630312d42bf1d1a",
                  "ObjectType": "equipment.SwitchCard",
                  "link": "https://www.intersight.com/api/v1/equipment/SwitchCards/614ce25a4630312d42bf1d1a"
                }
              ],
              "Chassis": "",
              "ClassId": "network.Element",
              "ConfModTs": "",
              "ConfModTsBackup": "",
              "Console": [],
              "CreateTime": "2021-09-23T20:25:05.943Z",
              "DeviceMoId": "614ce29f6f72612d307f5ed4",
              "Dn": "switch-FDO244106VJ",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "EthernetMode": "",
              "EthernetSwitchingMode": "end-host",
              "Fanmodules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d94",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d94"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d95",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d95"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d96",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d96"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25c4630312d42bf1d97",
                  "ObjectType": "equipment.FanModule",
                  "link": "https://www.intersight.com/api/v1/equipment/FanModules/614ce25c4630312d42bf1d97"
                }
              ],
              "FaultSummary": 0,
              "FcMode": "",
              "FcPortChannels": [],
              "FcSwitchingMode": "end-host",
              "FeatureControl": [],
              "InbandIpAddress": "0.0.0.0",
              "InbandIpGateway": "0.0.0.0",
              "InbandIpMask": "255.255.255.0",
              "InbandVlan": 0,
              "InterfaceList": [],
              "InventoryDeviceInfo": null,
              "LicenseFile": [],
              "ManagementController": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce2a36176752d35a7edc8",
                "ObjectType": "management.Controller",
                "link": "https://www.intersight.com/api/v1/management/Controllers/614ce2a36176752d35a7edc8"
              },
              "ManagementEntity": null,
              "ManagementMode": "Intersight",
              "ModTime": "2022-05-12T13:45:07.749Z",
              "Model": "UCS-FI-6454",
              "Moid": "614ce2a16176752d35a7ec96",
              "NetworkFcZoneInfo": null,
              "NetworkVlanPortInfo": {
                "ClassId": "mo.MoRef",
                "Moid": "614ceb956176752d35ab96a5",
                "ObjectType": "network.VlanPortInfo",
                "link": "https://www.intersight.com/api/v1/network/VlanPortInfos/614ceb956176752d35ab96a5"
              },
              "ObjectType": "network.Element",
              "OperEvacState": "disabled",
              "Operability": "online",
              "OutOfBandIpAddress": "100.66.11.142",
              "OutOfBandIpGateway": "100.66.11.129",
              "OutOfBandIpMask": "255.255.255.192",
              "OutOfBandIpv4Address": "",
              "OutOfBandIpv4Gateway": "",
              "OutOfBandIpv4Mask": "",
              "OutOfBandIpv6Address": "",
              "OutOfBandIpv6Gateway": "",
              "OutOfBandIpv6Prefix": "",
              "OutOfBandMac": "00:3A:9C:DA:78:C0",
              "Owners": [
                "5ed10e437564612d3352cc2d",
                "614ce29f6f72612d307f5ed4"
              ],
              "PartNumber": "",
              "PermissionResources": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "5ed10e456972652d30b39b49",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/5ed10e456972652d30b39b49"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614caf8f6972652d30d65a53",
                  "ObjectType": "organization.Organization",
                  "link": "https://www.intersight.com/api/v1/organization/Organizations/614caf8f6972652d30d65a53"
                }
              ],
              "PortMacBindings": [],
              "Presence": "",
              "PreviousFru": null,
              "ProcessorUnit": [],
              "Psus": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1c",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1c"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1d",
                  "ObjectType": "equipment.Psu",
                  "link": "https://www.intersight.com/api/v1/equipment/Psus/614ce25b4630312d42bf1d1d"
                }
              ],
              "RegisteredDevice": {
                "ClassId": "mo.MoRef",
                "Moid": "614ce29f6f72612d307f5ed4",
                "ObjectType": "asset.DeviceRegistration",
                "link": "https://www.intersight.com/api/v1/asset/DeviceRegistrations/614ce29f6f72612d307f5ed4"
              },
              "Revision": "0",
              "Rn": "",
              "Serial": "FDO244106VJ",
              "SharedScope": "",
              "Status": "",
              "StorageItems": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1e",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/api/v1/storage/Items/614ce25b4630312d42bf1d1e"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614ce25b4630312d42bf1d1f",
                  "ObjectType": "storage.Item",
                  "link": "https://www.intersight.com/a[...]
- request:
    method: get
    uri: https://intersight.com/api/v1/equipment/Chasses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature keyId="5ed10e437564612d3352cc2d/606616ad7564612d3042cdd0/6205497b7564612d301e04c8",algorithm="hs2019",headers="(request-target)
        host date digest",signature="MEUCIGW1ItXRomT9UBMR4JkL/f/b97OKZr6Nvc/gi94j9voAAiEA8qhTXSXVb5Lf5g6qeLn7GT9vpBaSmpgLugmeLVWiZoc="
      Digest:
      - SHA-256=47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Starship-Traceid:
      - NB3a1acc0f3d46833182514aa90c4a1e8b
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ObjectType": "equipment.Chassis.List",
          "Results": [
            {
              "AccountMoid": "5ed10e437564612d3352cc2d",
              "AlarmSummary": {
                "ClassId": "compute.AlarmSummary",
                "Critical": 0,
                "ObjectType": "compute.AlarmSummary",
                "Warning": 0
              },
              "Ancestors": [],
              "Blades": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "626980986176752d368dabb9",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/626980986176752d368dabb9"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "627164056176752d364e393e",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/627164056176752d364e393e"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6272cb176176752d36b0dd57",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/6272cb176176752d36b0dd57"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "6274ddda6176752d363556bb",
                  "ObjectType": "compute.Blade",
                  "link": "https://www.intersight.com/api/v1/compute/Blades/6274ddda6176752d363556bb"
                }
              ],
              "ChassisId": 1,
              "ClassId": "equipment.Chassis",
              "ConnectionPath": "A,B",
              "ConnectionStatus": "A,B",
              "CreateTime": "2021-09-23T21:02:49.023Z",
              "Description": "Cisco Blade Server Chassis, 7U with Eight Vertical Blade Server Slots",
              "DeviceMoId": "614ce29f6f72612d307f5ed4",
              "Dn": "chassis-1",
              "DomainGroupMoid": "5ed10e437564612d3352cc37",
              "ExpanderModules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe46176752d35abb3da",
                  "ObjectType": "equipment.ExpanderModule",
                  "link": "https://www.intersight.com/api/v1/equipment/ExpanderModules/614cebe46176752d35abb3da"
                },
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe56176752d35abb3ff",
                  "ObjectType": "equipment.ExpanderModule",
                  "link": "https://www.intersight.com/api/v1/equipment/ExpanderModules/614cebe56176752d35abb3ff"
                }
              ],
              "FanControl": {
                "ClassId": "mo.MoRef",
                "Moid": "614cebe56176752d35abb3ed",
                "ObjectType": "equipment.FanControl",
                "link": "https://www.intersight.com/api/v1/equipment/FanControls/614cebe56176752d35abb3ed"
              },
              "Fanmodules": [
                {
                  "ClassId": "mo.MoRef",
                  "Moid": "614cebe56176752d35abb4a7",
                  "ObjectType": "equipment.FanModule",
                  "link": "htt[...]
- request:
    method: get
[...]
